In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("DatabaseFInaleWTTJ.csv")

In [6]:
df.shape

(1151, 10)

In [8]:
df.head()

,Unnamed: 0,Titre,Type de contrat,Bac,Durée,Début,Nom entreprise,Localisation,Description,url
0,0,Business and modeling analyst,Stage,Bac +5 / Master,6 mois,1 mars 2023,Early Metrics,"86, Rue Notre-Dame de Nazareth, Paris, 75003",Who are they?\nEarly Metrics is the first rati...,https://www.welcometothejungle.com/fr/companie...
1,0,Stage 6 mois - Analyste en stratégie H/F,Stage,Bac +5 / Master,5 à 6 mois,NaN,Keolis,"Paris, 75009",Qui sont-ils ?\n[[Business Analyste en stratég...,https://www.welcometothejungle.com/fr/companie...
2,0,Internship SDR Hospitality UK - F/M,Stage,Non spécifié,6 mois,NaN,BRIGAD,"34 rue du sentier, Paris, 75002","Who are they?\nAt the heart of Brigad, there i...",https://www.welcometothejungle.com/fr/companie...
3,0,Bras droit CEO / Chief of Staff intern,Stage,Non spécifié,6 mois,NaN,BRIGAD,"34 rue du sentier, Paris, 75002","Who are they?\nAt the heart of Brigad, there i...",https://www.welcometothejungle.com/fr/companie...
4,0,Data Engineer - Internship,Stage,Non spécifié,6 mois,NaN,BRIGAD,"34 rue du sentier, Paris, 75002","Who are they?\nAt the heart of Brigad, there i...",https://www.welcometothejungle.com/fr/companie...